.App {
  .dms {
    position: fixed;
    top: 0;
    left: 0;
    width: 265px;
    height: 100vh;
    background-color: #f8f9fa;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);

    .dms-header {
      background: #d81b60 linear-gradient(180deg, #de3d78, #d81b60) repeat-x !important;
      color: white;
      padding: 20px;
      margin: 0;
      font-size: 1.5rem;
    }

    .dashboard {
      padding-left: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 8px 12px;
      border-radius: 6px;
      margin-top: 10px;
      transition: background-color 0.3s;
      .icon {
        font-size: 1.5rem;
      }
      &:hover {
        background-color: #e2e6ea;
        cursor: pointer;
      }
    }

    .main,
    .reports,
    .master-list,
    .maintenance {
      padding-left: 20px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 12px;
        margin-bottom: 6px;
        border-radius: 6px;
        transition: background-color 0.3s;

        .icon {
          color: #007bff;
          font-size: 1.3rem;
        }

        &:hover {
          background-color: #e2e6ea;
          cursor: pointer;
        }
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d81b60 linear-gradient(180deg, #de3d78, #d81b60) repeat-x !important;
    color: white;
    padding: 36px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 265px;
    width: calc(100% - 265px);
    z-index: 1000;
    height: 52px;
    box-sizing: border-box;

    .header-left {
      font-size: 1.2rem;
      font-weight: bold;
      flex-shrink: 0;
      white-space: nowrap;
    }

    .header-right {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 10px;

      .icon {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
